<wm-page name="mainpage" data-ng-controller="MainPageController" pagetitle="Main">
    <wm-header name="header" height="auto" content="header"></wm-header>
    <wm-top-nav name="topnav" content="topnav"></wm-top-nav>
    <wm-content name="content">
        <wm-left-panel name="leftpanel" content="leftnav" columnwidth="2"></wm-left-panel>
        <wm-page-content name="mainContent" columnwidth="8" padding="unset 15px">
            <wm-panel title="bind:appLocale.tst1" name="panel1">
                <wm-panel-footer name="panel_footer1"></wm-panel-footer>
                <wm-select class="select-locale" name="select1" dataset="bind:Variables.supportedLocale.dataSet" on-change="changeAppLocale($scope)"></wm-select>
            </wm-panel>
            <wm-livegrid name="livegrid1" service="hrdb@User">
                <wm-livefilter title="Filter USER" name="livefilter1" dataset="bind:Variables.HrdbUserData.dataSet" captionposition="top" captionalign="left">
                    <wm-layoutgrid name="layoutgrid1">
                        <wm-gridrow name="gridrow1">
                            <wm-gridcolumn name="gridcolumn1" show="true" columnwidth="6">
                                <wm-filter-field type="integer" name="userid" show="true" displayname="Userid" generator="identity" pc-display="true" mobile-display="true" widget="number" field="userid" is-range="false" is-primary-key="true"></wm-filter-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn name="gridcolumn2" show="true" columnwidth="6">
                                <wm-filter-field type="string" name="role" show="true" displayname="Role" generator="assigned" pc-display="true" mobile-display="true" widget="text" field="role" is-range="false" is-primary-key="false"></wm-filter-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow2">
                            <wm-gridcolumn name="gridcolumn3" show="true" columnwidth="6">
                                <wm-filter-field type="string" name="username" show="true" displayname="Username" generator="assigned" pc-display="true" mobile-display="true" widget="text" field="username" is-range="false" is-primary-key="false"></wm-filter-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn name="gridcolumn4" show="true" columnwidth="6">
                                <wm-filter-field type="integer" name="tenantid" show="true" displayname="Tenantid" generator="assigned" pc-display="true" mobile-display="true" widget="number" field="tenantid" is-range="false" is-primary-key="false"></wm-filter-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow3">
                            <wm-gridcolumn name="gridcolumn5" show="true" columnwidth="6">
                                <wm-filter-field type="string" name="password" show="true" displayname="Password" generator="assigned" pc-display="true" mobile-display="true" widget="text" field="password" is-range="false" is-primary-key="false"></wm-filter-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                    <wm-filter-action class="btn-primary" type="button" show="true" iconclass="wi wi-filter-list" key="filter" action="filter()" display-name="Filter"></wm-filter-action>
                    <wm-filter-action class="btn" type="button" show="true" iconclass="wi wi-cancel" key="clear" action="clearFilter()" display-name="Clear"></wm-filter-action>
                </wm-livefilter>
                <wm-grid title="USER List" name="grid1" dataset="bind:Widgets.livefilter1.result" navigation="Basic" readonlygrid="false" gridfirstrowselect="true">
                    <wm-grid-column type="integer" caption="Userid" generator="identity" primary-key="true" mobiledisplay="true" pcdisplay="true" binding="userid"></wm-grid-column>
                    <wm-grid-column type="string" caption="Username" generator="assigned" mobiledisplay="true" pcdisplay="true" binding="username"></wm-grid-column>
                    <wm-grid-column type="string" caption="Password" generator="assigned" mobiledisplay="true" pcdisplay="true" binding="password"></wm-grid-column>
                    <wm-grid-column type="string" caption="Role" generator="assigned" mobiledisplay="true" pcdisplay="true" binding="role"></wm-grid-column>
                    <wm-grid-column type="integer" caption="Tenantid" generator="assigned" mobiledisplay="true" pcdisplay="true" binding="tenantid"></wm-grid-column>
                    <!--?XML:NAMESPACE PREFIX = "PUBLIC" NS = "URN:COMPONENT" /-->
                    <wm-grid-action class="btn-primary" show="true" iconclass="wi wi-plus" key="addNewRow" action="addNewRow()" display-name="New"></wm-grid-action>
                    <!--?XML:NAMESPACE PREFIX = "PUBLIC" NS = "URN:COMPONENT" /-->
                    <wm-grid-row-action title="Edit" class="btn-transparent" show="true" iconclass="wi wi-pencil" key="updaterow" action="editRow()" display-name=""></wm-grid-row-action>
                    <!--?XML:NAMESPACE PREFIX = "PUBLIC" NS = "URN:COMPONENT" /-->
                    <wm-grid-row-action title="Delete" class="btn-transparent" show="true" iconclass="wi wi-trash" key="deleterow" action="deleteRow()" display-name=""></wm-grid-row-action>
                </wm-grid>
                <wm-liveform title="USER Info" name="liveform1" dataset="bind:Variables.HrdbUserData.dataSet" formlayout="inline" captionposition="top" captionalign="left" novalidate="false">
                    <wm-layoutgrid name="layoutgrid2">
                        <wm-gridrow name="gridrow4">
                            <wm-gridcolumn name="gridcolumn7" show="show" columnwidth="12">
                                <wm-form-field type="string" name="username" show="true" displayname="Username" required="false" generator="assigned" primary-key="false" key="username" is-related="false" pc-display="true" mobile-display="true" widget="text"
                                maxchars="20"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn name="gridcolumn6" show="hide" columnwidth="12">
                                <wm-form-field type="integer" name="userid" show="false" displayname="Userid" required="true" generator="identity" primary-key="true" key="userid" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow5">
                            <wm-gridcolumn name="gridcolumn8" show="show" columnwidth="12">
                                <wm-form-field type="string" name="password" show="true" displayname="Password" required="false" generator="assigned" primary-key="false" key="password" is-related="false" pc-display="true" mobile-display="true" widget="text"
                                maxchars="20"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow6">
                            <wm-gridcolumn name="gridcolumn9" show="show" columnwidth="12">
                                <wm-form-field type="string" name="role" show="true" displayname="Role" required="false" generator="assigned" primary-key="false" key="role" is-related="false" pc-display="true" mobile-display="true" widget="text" maxchars="20"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow7">
                            <wm-gridcolumn name="gridcolumn10" show="show" columnwidth="12">
                                <wm-form-field type="integer" name="tenantid" show="true" displayname="Tenantid" required="false" generator="assigned" primary-key="false" key="tenantid" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow8"></wm-gridrow>
                    </wm-layoutgrid>
                    <wm-form-action class="form-cancel btn-secondary" type="button" show="true" iconclass="wi wi-cancel" key="cancel" action="cancel()" display-name="Cancel" update-mode="true"></wm-form-action>
                    <wm-form-action class="form-save btn-success" type="submit" show="true" iconclass="wi wi-save" key="save" display-name="Save" update-mode="true"></wm-form-action>
                </wm-liveform>
            </wm-livegrid>
            <wm-livegrid name="livegrid2" service="hrdb@User">
                <wm-livefilter title="Filter USER" name="livefilter2" dataset="bind:Variables.HrdbUserData.dataSet" captionposition="top" captionalign="left">
                    <wm-layoutgrid name="layoutgrid3">
                        <wm-gridrow name="gridrow9">
                            <wm-gridcolumn name="gridcolumn11" show="true" columnwidth="12">
                                <wm-filter-field type="integer" name="userid" show="true" displayname="Userid" generator="identity" pc-display="true" mobile-display="true" widget="number" field="userid" is-range="false" is-primary-key="true"></wm-filter-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow10">
                            <wm-gridcolumn name="gridcolumn12" show="true" columnwidth="12">
                                <wm-filter-field type="string" name="username" show="true" displayname="Username" generator="assigned" pc-display="true" mobile-display="true" widget="text" field="username" is-range="false" is-primary-key="false"></wm-filter-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow11">
                            <wm-gridcolumn name="gridcolumn13" show="true" columnwidth="12">
                                <wm-filter-field type="string" name="password" show="true" displayname="Password" generator="assigned" pc-display="true" mobile-display="true" widget="text" field="password" is-range="false" is-primary-key="false"></wm-filter-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow12">
                            <wm-gridcolumn name="gridcolumn14" show="true" columnwidth="12">
                                <wm-filter-field type="string" name="role" show="true" displayname="Role" generator="assigned" pc-display="true" mobile-display="true" widget="text" field="role" is-range="false" is-primary-key="false"></wm-filter-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow13">
                            <wm-gridcolumn name="gridcolumn15" show="true" columnwidth="12">
                                <wm-filter-field type="integer" name="tenantid" show="true" displayname="Tenantid" generator="assigned" pc-display="true" mobile-display="true" widget="number" field="tenantid" is-range="false" is-primary-key="false"></wm-filter-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                    <wm-filter-action class="btn-primary" type="button" show="true" iconclass="wi wi-filter-list" key="filter" action="filter()" display-name="Filter"></wm-filter-action>
                    <wm-filter-action class="btn" type="button" show="true" iconclass="wi wi-cancel" key="clear" action="clearFilter()" display-name="Clear"></wm-filter-action>
                </wm-livefilter>
                <wm-grid title="USER List" name="grid2" dataset="bind:Widgets.livefilter2.result" navigation="Basic" readonlygrid="false" gridfirstrowselect="true">
                    <wm-grid-column type="integer" caption="Userid" generator="identity" primary-key="true" mobiledisplay="true" pcdisplay="true" binding="userid"></wm-grid-column>
                    <wm-grid-column type="string" caption="Username" generator="assigned" mobiledisplay="true" pcdisplay="true" binding="username"></wm-grid-column>
                    <wm-grid-column type="string" caption="Password" generator="assigned" mobiledisplay="true" pcdisplay="true" binding="password"></wm-grid-column>
                    <wm-grid-column type="string" caption="Role" generator="assigned" mobiledisplay="true" pcdisplay="true" binding="role"></wm-grid-column>
                    <wm-grid-column type="integer" caption="Tenantid" generator="assigned" mobiledisplay="true" pcdisplay="true" binding="tenantid"></wm-grid-column>
                    <!--?XML:NAMESPACE PREFIX = "PUBLIC" NS = "URN:COMPONENT" /-->
                    <wm-grid-action class="btn-primary" show="true" iconclass="wi wi-plus" key="addNewRow" action="addNewRow()" display-name="New"></wm-grid-action>
                    <!--?XML:NAMESPACE PREFIX = "PUBLIC" NS = "URN:COMPONENT" /-->
                    <wm-grid-row-action title="Edit" class="btn-transparent" show="true" iconclass="wi wi-pencil" key="updaterow" action="editRow()" display-name=""></wm-grid-row-action>
                    <!--?XML:NAMESPACE PREFIX = "PUBLIC" NS = "URN:COMPONENT" /-->
                    <wm-grid-row-action title="Delete" class="btn-transparent" show="true" iconclass="wi wi-trash" key="deleterow" action="deleteRow()" display-name=""></wm-grid-row-action>
                </wm-grid>
                <wm-liveform title="USER Info" name="liveform2" dataset="bind:Variables.HrdbUserData.dataSet" formlayout="inline" captionposition="top" captionalign="left" novalidate="false">
                    <wm-layoutgrid name="layoutgrid4">
                        <wm-gridrow name="gridrow14">
                            <wm-gridcolumn name="gridcolumn16" show="hide" columnwidth="12">
                                <wm-form-field type="integer" name="userid" show="false" displayname="Userid" required="true" generator="identity" primary-key="true" key="userid" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn name="gridcolumn17" show="show" columnwidth="12">
                                <wm-form-field type="string" name="username" show="true" displayname="Username" required="false" generator="assigned" primary-key="false" key="username" is-related="false" pc-display="true" mobile-display="true" widget="text"
                                maxchars="20"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow15">
                            <wm-gridcolumn name="gridcolumn18" show="show" columnwidth="12">
                                <wm-form-field type="string" name="password" show="true" displayname="Password" required="false" generator="assigned" primary-key="false" key="password" is-related="false" pc-display="true" mobile-display="true" widget="text"
                                maxchars="20"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow16">
                            <wm-gridcolumn name="gridcolumn19" show="show" columnwidth="12">
                                <wm-form-field type="string" name="role" show="true" displayname="Role" required="false" generator="assigned" primary-key="false" key="role" is-related="false" pc-display="true" mobile-display="true" widget="text" maxchars="20"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow17">
                            <wm-gridcolumn name="gridcolumn20" show="show" columnwidth="12">
                                <wm-form-field type="integer" name="tenantid" show="true" displayname="Tenantid" required="false" generator="assigned" primary-key="false" key="tenantid" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow18"></wm-gridrow>
                    </wm-layoutgrid>
                    <wm-form-action class="form-cancel btn-secondary" type="button" show="true" iconclass="wi wi-cancel" key="cancel" action="cancel()" display-name="Cancel" update-mode="true"></wm-form-action>
                    <wm-form-action class="form-save btn-success" type="submit" show="true" iconclass="wi wi-save" key="save" display-name="Save" update-mode="true"></wm-form-action>
                </wm-liveform>
            </wm-livegrid>
        </wm-page-content>
        <wm-right-panel name="rightpanel" content="rightnav" columnwidth="2"></wm-right-panel>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>